{% load staticfiles %}
{% load range %}
<html>
    <head>
        <title>tweet</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="navbar-brand">{{nav_title_times}}</div>
            {% if request.user.is_anonymous %}
                <div class="navbar-brand">授業管理システム</div>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    {% for s in request.user.subject.all %}
                    <li class="dropdown nav-link">
                        <a class="dropdown-toggle" data-toggle="dropdown" > {{s}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for i in s.times|range %}
                                <li><a href="/{{s}}/{{i}}">第{{i}}回目</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="navbar-nav">
                    {% if request.user.is_anonymous %}
                    <li class="nav-item"> <a class="nav-link" href="/accounts/signup">Signup</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/accounts/login">LogIn</a>   </li>
                    <div class="navbar-brand"> ログインして下さい</div>

                    {% else %}
                        <div class="navbar-brand">{{request.user}}</div>
                    <li class="nav-item"> <a class="nav-link" href="/accounts/logout">Logout</a> </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container" style="margin-top:30px">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>