{% extends 'tweet/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'tweet/css/emoji.css' %}" />

  <script src="{% static 'tweet/js/config.js' %}">           </script>
  <script src="{% static 'tweet/js/util.js' %}">             </script>
  <script src="{% static 'tweet/js/jquery.emojiarea.js' %}"> </script>
  <script src="{% static 'tweet/js/emoji-picker.js' %}">     </script>

<div class="col-sm-8">
    <h1>New post</h1>

    <form method="POST" class="post-form" action="{{path}}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>


    <div class="container">
        {% for post in user_object_list %}
            <div class="card">
                <div class="card-header"> {{ post.user }} </div>
                <div class="card-body">
                    <p class="card-text" >{{ post.text }}</p>
                    <a href="#" class="btn " data-emojiable="true">それな</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



<script>
    $(function() {
        window.emojiPicker = new EmojiPicker({
            emojiable_selector: '[data-emojiable=true]',
            assetsPath: "/static/tweet/img",
            popupButtonClasses: 'fa fa-smile-o'
        });
        window.emojiPicker.discover();
    });
</script>


<div class="col-sm-4">

    <h3>掲示テキスト</h3>
    {% for post in fix_post_list %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p>{{ post.created_date }}</p>
                <p class="card-text">{{ post.text | linebreaks }}</p>
            </div>
        </div>
    {% endfor %}

    <h2>うみさまのつぶやき</h2>
    {% for post in root_object_list %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ post.text }}</h3>
                <a href="#" class="btn btn-primary">それな</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
