{% extends 'tweet/base.html' %}

{% block content %}
<h1>New post</h1>
<form method="POST" class="post-form" action="/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>

{% for post in posts %}
<div class="post">
    <div class="date">
        {{ post.created_date }}
    </div>
    <h1>{{ post.text}} ~{{post.user}}~</h1>
</div>
{% endfor %}

{% endblock %}
