{% extends 'tweet/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />

<form method="post" novalidate>
  {% csrf_token %}
  {% include 'registration/bootstrap_form.html' %}
  <button type="submit" class="btn btn-success">Post</button>
</form>

{% endblock %}