{% extends "tweet/base.html" %}
{% load bootstrap4 %}


{% block content %}


<div class="container">
    <div class="panel-title"><h2>Log In</h2></div>
    <form method="post" action="{% url 'login'%}" id="loginform" class="form-horizontal" role="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}
